footer nav {
    text-align: center;
}
nav a {
    text-decoration: none;
    color: grey;
    padding: 5px 20px;
    border-left: 1px solid grey;
}
nav a:hover {
    background-color: rgba(160, 160, 160, 0.3);
}
nav a:first-child {
    border-left: none;
}

button:active {
    -webkit-box-shadow: inset 0px 10px 30px rgba(0,0,0,0.2);
    box-shadow:         inset 0px 10px 30px rgba(0,0,0,0.2);
}
